@import './fonts.css';
@import './prism.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  [inert] ::-webkit-scrollbar {
    display: none;
  }
}

.prose-a\:after\:content-\[\'_\2197\'\]
  :is(:where(a):not(:where([class~='not-prose'] *)))::after {
  font-size: 0.75rem;
  position: absolute;
  margin-left: 2px;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  scroll-behavior: smooth;
}

.prose :where(code):not(:where([class~='not-prose'] *))::before {
  content: '';
}

.prose :where(code):not(:where([class~='not-prose'] *))::after {
  content: '';
}

.prose :where(li):not(:where([class~='not-prose'] *)) {
  margin-bottom: 6px;
  margin-top: 0px;
}

ul {
  @apply dark:marker:text-darkprimary !important;
  @apply marker:text-primary !important;
}
