:root {
  --md-primary-fg-color:        #13188d;
  --md-primary-fg-color--light: #13188d;
  --md-primary-fg-color--dark:  #13188d;
  --md-admonition-icon--golem-icon: url(../assets/favicon.svg)
}

.md-typeset .admonition.golem-icon,
.md-typeset details.golem-icon {
  border-color: #13188d;
}
.md-typeset .golem-icon > .admonition-title,
.md-typeset .golem-icon > summary {
  background-color: #ffffff;
}
.md-typeset .golem-icon > .admonition-title::before,
.md-typeset .golem-icon > summary::before {
  background-color: #13188d;
  -webkit-mask-image: var(--md-admonition-icon--golem-icon);
          mask-image: var(--md-admonition-icon--golem-icon);
}
