{% extends "overrides/main-styles.html" %}

<!-- Render hero under tabs -->
{% block tabs %}
{{ super() }}

<!-- 1st Section -->
<section class="tx-container">
    <div class="tx-hero__image">
    </div>
    <div class="tx-banner"><p>
                    This documentation <strong>contains a documentation for new features available in the SDK</strong>, if you'd
                    like <strong>to view the official documentation, please <a href="https://handbook.golem.network/">follow this link</a></strong></p></div>
    <div class="md-grid md-typeset">
        <div class="tx-hero">

            <!-- Hero content -->
            <div class="tx-hero__content">
                <h1  id="sdk-preview-docs">Golem SDK Preview Documentation!</h1>
                <p>Golem is a global, open-source, decentralized supercomputer that anyone can use. It is made up of the combined computing power of the users' machines, from PCs to entire data centers.<br><br>

                </p>
                <p>
                    ⭐ <strong>
                    Sell your computer resources
                </strong> <br>
                    ⭐ <strong>
                    Accelerate your distributed computations
                </strong> <br>
                    ⭐ <strong>
                    Community founded and Web3-based
                </strong> <br>
                    ⭐ <strong>
                    Use as computation backend to offload your system
                </strong> <br>
                    ⭐ <strong>
                    Manage deployment and runtime in-depth with JS and Python APIs
                </strong> <br>
                    ⭐ <strong>
                    Use any technology with YAML-based integration
                </strong> <br>
                    ⭐ <strong>
                    Run your Docker application on distributed infrastructure
                </strong> <br> <br>

                <a
                        href="{{ page.next_page.url | url }}"
                        title="{{ page.next_page.title | e }}"
                        class="md-button md-button--primary"
                >
                    Getting started as App Creator
                    <img
                        class = icon
                        src="assets/sdk-icon.png"
                        alt=""
                        width="24"
                        draggable="false"
                    >
                </a><br>

                <a
                    href="https://handbook.golem.network/provider-tutorials/provider-tutorial"
                    title="{{ lang.t('source.link.title') }}"
                    class="md-button">
                    Share computation resources and earn
                </a><br>

                <a
                    href="https://chat.golem.network"
                    class="md-button md-button--primary">
                    Join us on Golem Discord
                    <img
                            class = icon
                            src="assets/discord.png"
                            alt=""
                            width="22"
                            draggable="false"
                    >
                </a>

            </div>
        </div>
    </div>
</section>

<section class="tx-container-2" style="margin-bottom: 50px">
    <div class="tx-hero__image-2">
        <img
                src="assets/golem-what-is.svg"
                alt=""
                width="600"
                draggable="false"
        >
    </div>
    <div class="tx-hero">
        <div class="tx-hero__content-2 md-typeset md-grid">
            <h1 id="what-is-golem">What is Golem?</h1><br>

            <p>
                A flexible, open-source platform for democratised access to digital resources:<br>
                ▶️
                <strong>
                    <a href="https://www.golem.network/platform">Lightweight protocol for building unstoppable applications, anonymous and censorship-resistant</a>
                </strong><br>
                ▶️
                <strong>
                    <a href="https://www.golem.network/platform">Modular, cutting edge architecture</a>
                </strong><br>
                ▶️
                <strong>
                    <a href="https://www.golem.network/platform">Fast and cheap micropayments with the GLM token on Ethereum’s Layer 2 </a>
                </strong><br><br>
                With Golem Network, users can connect with ease and pay each other for sharing their unused resources.
                Golem’s <strong> democratized access</strong> combined with a unique <strong> peer-to-peer exchange </strong> creates an unstoppable
                ecosystem for a myriad of use-cases to be born, allowing software developers to leverage their creativity
                more than ever before.
            </p><br>

            <a
                    href="https://www.golem.network/platform"
                    title="{{ page.next_page.title | e }}"
                    class="md-button"
            >
                Golem Features
            </a>
        </div>
    </div>
</section>

<section class="tx-container-3">
    <div class="md-grid md-typeset">
        <div class="tx-hero try-out">

            <div class="tx-hero__content_small">
                <br>
                <h1 id="try-out-js">Choose JS API if you:</h1><br>

                <p>
                    ✅ Have a problem that can split into <strong>multiple computational tasks</strong> that will run <strong>in parallel</strong> on Golem<br><br>

                    ✅ Want to use either <strong>Node.js or web browser</strong> to schedule the tasks<br><br>

                    ✅ Need <strong>more control</strong> over the deployment process on Golem Network (like <strong>adjust market strategy</strong>)<br>
                </p>
                <a
                        href="/creators/javascript/quickstart/"
                        title="{{ page.next_page.title | e }}"
                        class="md-button md-button"
                >
                    Getting started with JS API
                </a>
            </div>

            <div class="tx-hero__content_small">
                <br>
                <h1 id="try-out-dapps">Choose dApps if you:</h1><br>

                <p>
                    ✅ Want to deploy an application on Golem that consists of <strong>service(s) that run constantly</strong><br><br>

                    ✅ Already use <strong>Docker or Docker Compose</strong> to deploy your application<br><br>

                    ✅ Want to use a <strong>YAML-based approach</strong> to configure the deployment<br>
                </p>
                <a
                        href="/creators/dapps/"
                        title="{{ page.next_page.title | e }}"
                        class="md-button md-button"
                >
                    Getting started with dApps
                </a>
            </div>
        </div>
    </div>
</section>

<section class="tx-container-2 preview-stack">
    <div class="md-grid md-typeset">
        <div class="tx-hero">
            <!-- Hero content -->
            <div class="tx-hero__content-2">
                <h1 id="tech-stack">Our preview stack</h1>
                <p><br>
                    ⛵ <strong>JS API for scheduling tasks on Golem, with ability to run directly from browser.
                        <a href="/creators/javascript/quickstart/">Check out JS API here!</a></strong>
                    <br><br>
                    ⛵ <strong>Golem dApps for deploying multi-layer Docker applications, based on YAML config files
                        <a href="/creators/dapps/">Check out dApps here!</a></strong>


                <a
                        href="https://handbook.golem.network/"
                        title="{{ page.next_page.title | e }}"
                        class="md-button md-button"
                        style="margin-top: 50px"
                >
                    Use Python API or become a Provider
                </a>
            </div>
        </div>
    </div>
</section>

{% endblock %}
