{% extends "overrides/main-styles.html" %}

<!-- Render hero under tabs -->
{% block tabs %}
{{ super() }}

<section class="tx-container-3">
    <div class="md-grid md-typeset">
        <div class="tx-hero try-out">

            <div class="tx-hero__content_small">
                <br>
                <h1 id="try-out-dapps">Golem developer <br> resources</h1><br>

                            <p> A creators manual for Golem</p>
	                    <p> For Developers. By developers. </p>
               
		<div style="flex-direction: row">
		 <a
                        href="/creators/javascript/"
                        title="{{ page.next_page.title | e }}"
                        class="md-button md-button"
                >
                    JS docs
                </a>
		 <a
                        href="/creators/python/"
                        title="{{ page.next_page.title | e }}"
                        class="md-button md-button"
                >
                    Py docs
                </a>

		</div>
            </div>
	    <div class="tx-hero__content_small">
		
	    </div>
        </div>
    </div>
</section>



<!-- 1st Section -->
<section class="tx-container">
   
    <div class="md-grid md-typeset">
        <div class="tx-hero">

            <!-- Hero content -->
            <div class="tx-hero__content">
                <h1 style="text-align:left" id="sdk-preview-docs">How do you want to start?</h1>

                <div class="hero-cards">
                    <div class="hero-card">
			 <h1 id="what-is-golem">Quick start</h1>

			<div>
				<p>
				Follow this tutorial to build & run example app in the Golem Network in less than 10 minutes
				</p>

				<br>	
				<br>	
			</div>

                        <div class="hero-card-cta">
                            <a
                                href="/creators/javascript/quickstart/"
                                class="md-button md-button--primary"
                                style="width: 100%; text-align: center; margin: 0"
                            >
                               Try Golem
                            </a>
                        </div>	
                    </div>
 <div class="hero-card">
			 <h1 id="what-is-golem">Create on Golem</h1>

			<div>
				<p>
				Begin adventure with decentralized computations with comprehensive tutorials and guides. 
				</p>

				<br>	
				<br>	
			</div>

                        <div class="hero-card-cta">
                            <a
                                href="/Ncreators/"
                                class="md-button md-button--primary"
                                style="width: 100%; text-align: center; margin: 0"
                            >
                               Start building your apps
                            </a>
                        </div>	
                    </div>
 <div class="hero-card">
			 <h1 id="what-is-golem">Share and earn</h1>

			<div>
				<p>
				Support the open-source movement and earn crypto by sharing your computer resources with the Golem Network.
				</p>

				<br>	

			</div>

                        <div class="hero-card-cta">
                            <a
                                href="/providers/install"
                                class="md-button md-button--primary"
                                style="width: 100%; text-align: center; margin: 0"
                            >
                               Join the golem network
                            </a>
                        </div>	
                    </div>
            

		</div>
        </div>
    </div>
</section>

<section class="tx-container-2" style="margin-bottom: 50px">
    <div class="tx-hero__image-2">
        <img
                src="assets/golem-what-is.svg"
                alt=""
                width="600"
                draggable="false"
        >
    </div>
    <div class="tx-hero">
        <div class="tx-hero__content-2 md-typeset md-grid">
            <h1 id="what-is-golem">What is Golem?</h1><br>

            <p>
                A flexible, open-source platform for democratised access to digital resources:<br>
                ▶️
                <strong>
                    <a href="https://www.golem.network/platform">Lightweight protocol for building unstoppable applications, anonymous and censorship-resistant</a>
                </strong><br>
                ▶️
                <strong>
                    <a href="https://www.golem.network/platform">Modular, cutting edge architecture</a>
                </strong><br>
                ▶️
                <strong>
                    <a href="https://www.golem.network/platform">Fast and cheap micropayments with the GLM token on Ethereum’s Layer 2 </a>
                </strong><br><br>
                With Golem Network, users can connect with ease and pay each other for sharing their unused resources.
                Golem’s <strong> democratized access</strong> combined with a unique <strong> peer-to-peer exchange </strong> creates an unstoppable
                ecosystem for a myriad of use-cases to be born, allowing software developers to leverage their creativity
                more than ever before.
            </p><br>

            <a
                    href="https://www.golem.network/platform"
                    title="{{ page.next_page.title | e }}"
                    class="md-button"
            >
                Golem Features
            </a>
        </div>
    </div>
</section>

<!--
<section class="tx-container-3">
    <div class="md-grid md-typeset">
        <div class="tx-hero try-out">

            <div class="tx-hero__content_small">
                <br>
                <h1 id="try-out-js">Choose JS API if you:</h1><br>

                <p>
                    ✅ Have a problem that can split into <strong>multiple computational tasks</strong> that will run <strong>in parallel</strong> on Golem<br><br>

                    ✅ Want to use either <strong>Node.js or web browser</strong> to schedule the tasks<br><br>

                    ✅ Need <strong>more control</strong> over the deployment process on Golem Network (like <strong>adjust market strategy</strong>)<br>
                </p>
                <a
                        href="/creators/javascript/quickstart/"
                        title="{{ page.next_page.title | e }}"
                        class="md-button md-button"
                >
                    Getting started with JS API
                </a>
            </div>

            <div class="tx-hero__content_small">
                <br>
                <h1 id="try-out-dapps">Choose dApps if you:</h1><br>

                <p>
                    ✅ Want to deploy an application on Golem that consists of <strong>service(s) that run constantly</strong><br><br>

                    ✅ Already use <strong>Docker or Docker Compose</strong> to deploy your application<br><br>

                    ✅ Want to use a <strong>YAML-based approach</strong> to configure the deployment<br>
                </p>
                <a
                        href="/creators/dapps/"
                        title="{{ page.next_page.title | e }}"
                        class="md-button md-button"
                >
                    Getting started with dApps
                </a>
            </div>
        </div>
    </div>
</section>

<section class="tx-container-2 preview-stack">
    <div class="md-grid md-typeset">
        <div class="tx-hero">
            <div class="tx-hero__content-2">
                <h1 id="tech-stack">Our preview stack</h1>
                <p><br>
                    ⛵ <strong>JS API for scheduling tasks on Golem, with ability to run directly from browser.
                        <a href="/creators/javascript/quickstart/">Check out JS API here!</a></strong>
                    <br><br>
                    ⛵ <strong>Golem dApps for deploying multi-layer Docker applications, based on YAML config files
                        <a href="/creators/dapps/">Check out dApps here!</a></strong>


                <a
                        href="https://handbook.golem.network/"
                        title="{{ page.next_page.title | e }}"
                        class="md-button md-button"
                        style="margin-top: 50px"
                >
                    Use Python API or become a Provider
                </a>
            </div>
        </div>
    </div>
</section>
-->

{% endblock %}
